<launch>
  <node pkg="ar2mav" type="drone_video" name="drone_video" respawn="false" output="screen">
	<param name="drone_ip" value="192.168.1.1" />
	<param name="drone_port" value="5555" />
	<param name="buffer_size" value="1048576" />
	<param name="timeout" value="1" />
	<param name="topic_name" value="/image/x264" />
  </node>
  <node pkg="image_transport" type="republish" name="publisher" args="in:=/image x264 out:=/republished/image" />
  <node pkg="mavros" type="calibrate.py" name="calibrate_helper" />
  <node pkg="camera_calibration" type="cameracalibrator.py" name="calibrator" args="--size 8x6 --square 0.108 image:=/republished/image" />
</launch>


