<launch>
  <arg name="address" default="192.168.10.102" />
  <arg name="file" default="$(find ar2mav)/drones.yaml"/>

  <rosparam file="$(find mavros)/drone_params.yaml" command="load" />
  <rosparam file="$(arg file)" command="load" />

  <node pkg="ar2mav" type="arproxy.py" name="arproxy" output="screen" args="-f $(arg file) -l $(arg address) -v 1 -q" />
  <node pkg="mavros" type="driver.py" name="mavros_parrot" output="screen" args="-n Parrot -l $(arg address) -r" />
  <node pkg="mavros" type="queue_node.py" name="queue_parrot" output="screen" args="-n Parrot -r" />
  <include file="$(find mavros)/launch/joy.launch" />
  <node pkg="ar2mav" type="drone_video" name="drone_video" respawn="false" output="screen">
	<param name="drone_ip" value="192.168.1.1" />
	<param name="drone_port" value="5555" />
	<param name="buffer_size" value="1048576" />
	<param name="timeout" value="1" />
	<param name="topic_name" value="/image/x264" />
  </node>
  <node pkg="rosbag" type="record" name="rosbag_record" args="-a" />
</launch>
