<launch>
  <arg name="address" default="192.168.10.102" />
  <arg name="file" default="$(find ar2mav)/drones.yaml"/>
  <arg name="gui" default="Tweety" />
  <arg name="joy" default="Iago" />

  <rosparam file="$(find mavros)/drone_params.yaml" command="load" />
  <rosparam file="$(arg file)" command="load" />

  <node pkg="ar2mav" type="arproxy.py" name="arproxy" output="screen" args="-f $(arg file) -l $(arg address) -v 1 -q" />

  <node pkg="mavros" type="driver.py" name="mavros_$(arg gui)" output="screen" args="-n $(arg gui) -l $(arg address) -r" />
  <node pkg="mavros" type="queue_node.py" name="queue_$(arg gui)" output="screen" args="-n $(arg gui) -r" />
  <node pkg="mavros" type="nav_gui.py" name="gui_$(arg gui)" output="screen" args="-n $(arg gui) -r" />

  <node pkg="mavros" type="driver.py" name="mavros_$(arg joy)" output="screen" args="-n $(arg joy) -l $(arg address) -r" />
  <node pkg="mavros" type="queue_node.py" name="queue_$(arg joy)" output="screen" args="-n $(arg joy) -r" />
  <include file="$(find mavros)/launch/joy.launch" >
	<arg name="name" value="$(arg joy)" />
  </include>
  <node pkg="rosbag" type="record" name="rosbag_record" args="-a" />
</launch>
