<launch>
  <arg name="address" default="192.168.10.102" />
  <arg name="file" default="$(find ar2mav)/drones.yaml"/>
  
  <rosparam file="$(arg file)" command="load" />
  <node pkg="ar2mav" type="arproxy.py" name="arproxy" output="screen" args="-f $(arg file) -l $(arg address) -v 1 -q" />
  
  <rosparam file="$(find mavros)/drone_params.yaml" command="load" />
  <node pkg="mavros" type="driver.py" name="mavros_parrot" output="screen" args="-n Parrot -l $(arg address) -r" />
  <node pkg="mavros" type="queue_node.py" name="queue_parrot" output="screen" args="-n Parrot -r" />
  <node pkg="mavros" type="nav_gui.py" name="gui_parrot" output="screen" args="-n Parrot -r" />

  <node pkg="tf" type="static_transform_publisher" name="Parrot_front" args="0.21 0.0 0.0 -1.57079632679 0.0 -1.57079632679 Parrot_base Parrot_front 1000" />
  <node pkg="tf" type="static_transform_publisher" name="Parrot_down" args="0.0 0.0 -0.02 1.57079632679 3.14159265359 0.0 Parrot_base Parrot_down 1000" />
  <node pkg="tf" type="static_transform_publisher" name="Parrot_imu" args="0.0 0.0 0.0 0.0 0.0 0.0 Parrot_base imu 1000" />
  <node ns="Parrot/queue" pkg="robot_pose_ekf" type="robot_pose_ekf" name="robot_pose_ekf">
    <param name="base_footprint_frame" value="Parrot_base"/>
    <param name="freq" value="0.25"/>
    <param name="sensor_timeout" value="5.0"/>
    <param name="odom_used" value="true"/>
    <param name="imu_used" value="true"/>
    <param name="vo_used" value="false"/>
    <param name="debug" value="false"/>
    <param name="self_diagnose" value="false"/>
    <remap from="robot_pose_ekf/odom_combined" to="odom_combined" />
  </node>

  <node pkg="ar2mav" type="drone_video" name="video_Parrot" respawn="false" output="screen">
	<param name="name" value="Parrot" />
  </node>
  <node pkg="image_transport" type="republish" name="publisher" args="x264 in:=/Parrot/video compressed out:=/republished/image" />
  <node pkg="rqt_image_view" type="rqt_image_view" name="image_view" output="screen" />

  <node pkg="rosbag" type="record" name="rosbag_record" args="-a" />
</launch>
